@charset "utf-8";
@import 'base/basePC.scss';
@import 'common/_dialog.scss';
@import 'common/_pagination.scss';
@import 'common/_progress.scss';
@import 'common/_set.scss';
@import 'base/_iconfont.scss';
@import 'base/_radio-check.scss';
@import 'base/_btn_tag.scss';
@import 'base/_arrow_down.scss';
@import 'base/drag.scss';
body {
  background: #F0F0F0;
}

.btn {
  padding: 0 1.25em;
  min-width: 4.5em;
}

@import "base/_info_list.scss";
.info-list {
  >.item {
    >.content.contact {
      >.item {
        .phone {
          width: 160px;
          margin-right: 16px;
          margin-bottom: 10px;
        }
        .address {
          width: 350px;
          margin-right: 8px;
        }
      }
    }
    .info-product {
      >table {
        tbody {
          td {
            border-top: 1px solid $color-border;
          }
        }
      }
    }
  }
  &.thin {
    >.item {
      >.content {
        padding: 20px 40px;
        >.action-field {
          margin-top: 30px;
        }
      }
    }
  }
}
