@import 'variables';
@import 'mixin';

$animation-duration:.2s;
$transition-duration:.2s;
.animation{
	@include trans($transition-duration);
}

.am-tf-linear{
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}
.am-tf-ease{
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;
}
.am-tf-ease-out{
	-webkit-animation-timing-function: ease-out;
	-moz-animation-timing-function: ease-out;
	-o-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
@-webkit-keyframes fadeInRight {
    from { @include trf-translate(-10px,0);opacity:0.2; }
    to { opacity: 1;@include trf(none); }
}
@keyframes fadeInRight {
    from { @include trf-translate(-10px,0);opacity:0.2; }
    to { opacity: 1;@include trf(none); }
}

.am-pulse-one{
	@include anim(pulse-one .5s linear);
}
@-webkit-keyframes pulse-one {
	from { @include trf-scale(1.3) }
	to { @include trf-scale(1) }
}
@keyframes pulseOne {
	from { @include trf-scale(1.3) }
	to { @include trf-scale(1) }
}


@-webkit-keyframes ease-show {
    from { opacity: 0;
     }
    to {  opacity: 1;}
}
@keyframes ease-show {
    from { opacity: 0;
     }
    to { opacity: 1;
 }
}

.am-ease-show{
	@include anim(ease-show .4s linear);
}