@import 'variables';
@import 'mixin';
.btn {
  position: relative;
  display: inline-block;
  // padding: 4px 12px;
  padding: 0 1em;
  min-width: 4.5em;
  margin-bottom: 0;
  border: 1px solid $color-border;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  background: $color-btn-default;
  color: $color;
  text-align: center;
  white-space: nowrap;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  cursor: pointer;
  vertical-align: baseline;
  text-decoration: none!important;
  box-sizing: border-box;
  &:hover {
    background: $color-btn-hover;
    color: $color;
  }
  &:visited {
    color: $color;
  }
  +.btn {
    margin-left: 6px;
  }
  +.btn.block {
    margin-left: 0;
  }
  .disabled {
    cursor: not-allowed;
  }
}

.btn-align-ipt {
  margin-top: 2px;
}

.btn.block {
  display: block;
  margin: 10px auto;
  font-size: 16px;
  +.btn {
    margin-left: 0;
  }
}

button {
  cursor: pointer;
}

@each $btn-each,
$btn-color in (btn-info:$color-info, btn-primary:$color-primary, btn-ok:$color-ok, btn-warning:$color-warning, btn-danger:$color-danger) {
  .#{$btn-each} {
    color: #fff;
    background: $btn-color;
    border-color: darken($btn-color, 4%);
    &:visited {
      color: #fff;
    }
    &:hover,
    &:active,
    &:focus,
    &:active:focus {
      color: #fff;
      background: darken($btn-color, 4%);
      border-color: darken($btn-color, 4%);
      outline: 0;
    }
  }
}

.btn-default {
  color: $color;
  background: $color-btn-hover;
  border-color: $color-border;
  &:hover {
    background: darken($color-btn-hover, 4%);
  }
}

@each $btn,
$btn-color in (btn-primary-o:$color-primary, btn-info-o:$color-info, btn-warning-o:$color-warning, btn-danger-o:$color-danger) {
  .#{$btn} {
    color: $btn-color;
    background: #fff;
    border-color: darken($btn-color, 4%);
    &:visited {
      color: $btn-color;
    }
    &:hover {
      background: $btn-color;
      color: #fff;
    }
  }
}

.btn-disabled {
  opacity: .7;
  pointer-events: none;
  color: #888;
  background: #eee;
  border-color: #e0e0e0;
}
