@import '../base/_variables.scss';
.field-validation-error {
  line-height: 20px;
  font-size: 12px;
  color: $color-danger;
}

.ui-dialog {
  .field-validation-error {
    display: block;
  }
}

.speclist {
  th,
  td {
    vertical-align: top;
  }
  .input-validation-error {
    border-color: $color-danger!important;
  }
  .ipt-wrapper {
    display: inline-block;
    position: relative;
    .field-validation-error {
      display: block;
      white-space: nowrap;
      pointer-events: none;
    }
  }
}
