@using TomTeam.Project.Localization
@using TomTeam.Project.Web.Navigation
@{
    ViewBag.CurrentPageName = "主页";
    var list = ViewBag.NewsList as Abp.Application.Services.Dto.PagedResultDto<TomTeam.Project.Gld.Dto.GetNewsListOutput>;
}
@model TomTeam.Project.Config.WebConfig
@section Styles
{
}
@section Scripts
{
}
<div class="main home">
    <div class="body home">
        <!-- 侧边浮动外链区 -->
        <div class="external-links">
            <a target="_blank" href="http://jzkt-pre.glodon.com/" class="item">学习专区</a>
            <a target="_blank" href="http://gws.glodon.com/" class="item item2">软件下载</a>
        </div>
        <div class="wrapper item">
            <div class="inner">
                <div class="item introduce">
                    @Html.Raw(Model.ActivityInfo)
                </div>
            </div>
        </div>
        <div class="wrapper item">
            <div class="inner">
                <div class="item report">
                    <h2 class="title">
                        赛事播报
                    </h2>
                    <div class="content">
                        <ul class="list">
                            @foreach (var item in list.Items)
                    {
                            <li>
                                <span class="text">
                                    <a href="@Url.Action("Detail","News", new { id = item.Id })">@item.Title</a>
                                </span>
                                <span class="time">
                                    @string.Format("{0:yyyy-MM-dd HH:mm}", item.CreationTime)
                                </span>
                            </li>
                    }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper item" style="height:460px;">
            <div class="inner">
                <div class="item progress">
                    <h2 class="title">赛事进度</h2>
                    <div class="content">
                        <div class="date time">
                            7<b>月</b>
                        </div>
                        <ul class="clearfix col4 content-list">
                            <li class="item">
                                <dl class="detail">
                                    <dt class="time">07.12</dt>
                                    <dd class="content">
                                        <div>
                                            2016-07-12 14:20:05
                                        </div>
                                        <p class="text">
                                            比赛跟踪
                                        </p>
                                    </dd>
                                    <dd class="content">
                                        <div>
                                            2016-07-12 14:20:05
                                        </div>
                                        <p class="text">
                                            比赛跟踪
                                        </p>
                                    </dd>
                                    <dd class="content">
                                        <div>
                                            2016-07-12 14:20:05
                                        </div>
                                        <p class="text">
                                            比赛跟踪
                                        </p>
                                    </dd>
                                </dl>
                            </li>
                            <li class="item">
                                <dl class="detail">
                                    <dt class="time">07.12</dt>
                                    <dd class="content">
                                        <div>
                                            2016-07-12 14:20:05
                                        </div>
                                        <p class="text">
                                            比赛跟踪
                                        </p>
                                    </dd>
                                    <dd class="content">
                                        <div>
                                            2016-07-12 14:20:05
                                        </div>
                                        <p class="text">
                                            比赛跟踪
                                        </p>
                                    </dd>
                                    <dd class="content">
                                        <div>
                                            2016-07-12 14:20:05
                                        </div>
                                        <p class="text">
                                            比赛跟踪
                                        </p>
                                    </dd>
                                </dl>
                            </li>
                            <li class="item">
                                <dl class="detail">
                                    <dt class="time">07.12</dt>
                                    <dd class="content">
                                        <div>
                                            2016-07-12 14:20:05
                                        </div>
                                        <p class="text">
                                            比赛跟踪
                                        </p>
                                    </dd>
                                    <dd class="content">
                                        <div>
                                            2016-07-12 14:20:05
                                        </div>
                                        <p class="text">
                                            比赛跟踪
                                        </p>
                                    </dd>
                                    <dd class="content">
                                        <div>
                                            2016-07-12 14:20:05
                                        </div>
                                        <p class="text">
                                            比赛跟踪
                                        </p>
                                    </dd>
                                </dl>
                            </li>
                            <li class="item">
                                <dl class="detail">
                                    <dt class="time">07.12</dt>
                                    <dd class="content">
                                        <div>
                                            2016-07-12 14:20:05
                                        </div>
                                        <p class="text">
                                            比赛跟踪
                                        </p>
                                    </dd>
                                    <dd class="content">
                                        <div>
                                            2016-07-12 14:20:05
                                        </div>
                                        <p class="text">
                                            比赛跟踪
                                        </p>
                                    </dd>
                                    <dd class="content">
                                        <div>
                                            2016-07-12 14:20:05
                                        </div>
                                        <p class="text">
                                            比赛跟踪
                                        </p>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>