@import 'variables';
@import 'mixin';

@each $bg,
$bg-color,
$bg-text-color in(bg-default, $color-bg-default, $color-bg-default-text),
(bg-primary, $color-bg-primary, $color-bg-primary-text),
(bg-ok, $color-bg-ok, $color-bg-ok-text),
(bg-info, $color-bg-info, $color-bg-info-text),
(bg-warning, $color-bg-warning, $color-bg-warning-text),
(bg-danger, $color-bg-danger, $color-bg-danger-text) {
    .#{$bg} {
        border: 1px solid darken($bg-color, 10%);
        background-color: $bg-color;
        color: $bg-text-color;
    }
}

.bg {
    line-height: 32px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 400;
}