@import "variables";
.tab-switcher {
  position: relative;
  border: 1px solid $color-border;
  line-height: 2;
  background: #fff;
  overflow: hidden;
  opacity: .95;
  white-space: normal;
  >.title {
    position: relative;
    margin-bottom: -2px;
    overflow: hidden;
    z-index: 3;
    >.item {
      display: table-cell;
      padding: 2px 8px;
      border-bottom: 2px solid $color-border;
      color: $color;
      text-decoration: none;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        color: $color-primary;
      }
      &:last-child {
        border-right-width: 0;
      }
      &.on {
        color: $color-primary;
        border-bottom-color: currentcolor;
      }
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  >.content {
    border-top: 2px solid $color-border;
    overflow: hidden;
    >.item {
      display: none;
      &:first-child {
        display: block;
      }
      >.cell {
        display: inline-block;
        min-width: 5em;
        padding: 2px;
        text-align: center;
        &:hover {
          color: $color-primary;
          cursor: pointer;
          text-decoration: none;
        }
      }
      &.on {
        display: block;
      }
    }
  }
}

.tab-switcher-horizontal {
  position: relative;
  >.title {
    a {
      &,
      &:visited {
        color: $color;
      }
      text-decoration: none;
      &:hover {
        //color: $color-primary;
        text-decoration: none;
      }
    }
    border-bottom: 2px solid $color-border;
    >.item {
      display: inline-block;
      position: relative;
      padding: 3px 1em;
      margin-bottom: -2px;
      line-height: 28px;
      cursor: pointer;
      &:hover {
        color: $color-anchor-hover;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: transparent;
        @include trans(.2s);
        @include trf-scale(0);
      }
      &.on {
        color: $color-primary;
        &:after {
          background: $color-primary;
          @include trf-scale(1);
        }
      }
    }
  }
  >.content {
    >.item {
      display: none;
      &.on {
        display: block;
      }
    }
  }
}

.tab-switcher-vertical {
  //@extend .tab-switcher;
  >.title {
    float: left;
    margin-bottom: 0;
    margin-right: -1px;
    >.item {
      display: block;
      border: 1px solid $color-border;
      border-width: 0 1px 1px 0;
      &:last-child {
        border-bottom: 0;
        border-right-width: 1px;
      }
      &.on {
        border-bottom-color: $color-border;
        border-right-color: #fff;
      }
    }
  }
  >.content {
    padding: 0 5px;
    border: 0;
    border-left: 1px solid $color-border;
    >.item {
      >.cell {
        min-width: auto;
        padding: 2px 5px;
      }
    }
  }
}

.radio-switcher {
  >.content {
    >.item {
      display: none;
      &.on {
        display: block;
      }
    }
  }
}

.label-switcher-horizontal {
  // border-bottom: 1px solid $color-border;
  white-space: nowrap;
  font-size: 0;
  overflow-y: hidden;
  >.item {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    line-height: 44px;
    font-size: $font-size;
    cursor: pointer;
    text-decoration: none;
    &:active {
      background: rgba(0, 0, 0, .1);
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: $color-border;
      border-bottom: 1px solid transparent;
    }
    &.on {
      color: $color-primary;
      &:before {
        border-bottom: 2px solid $color-primary;
      }
      &.multi {
        &:after {
          border-color: $color-primary;
        }
      }
    }
    &.multi {
      padding-right: 20px;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        width: 7px;
        height: 7px;
        border: 2px solid #666;
        border-width: 0 1px 1px 0;
        @include trf(translate(0, -50%) rotate(45deg));
      }
    }
  }
}

.btn-switcher {
  font-size: 0;
  >.title {
    >.item {
      @extend .btn;
      position: relative;
      padding: 0 1.5em;
      line-height: 26px!important;
      color: $color-table-thead-th;
      +.item {
        margin-left: -1px;
      }
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      &:first-child {
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
      }
      &:last-child {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
      }
      &.on {
        border-color: $color-primary;
        color: $color-primary;
        z-index: 5;
        &:hover {
          background: inherit;
        }
      }
    }
  }
}
