$border-radius:4px!default;
$font-size:14px!default;
$line-height: (20/14)!default;
$font-family:'Microsoft Yahei',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif!default;
$font-icon:yqy;
$color:#333!default;
$color-body-bg:#f0f0f0!default;
$color-muted:#aaa!default;
$color-default:#333!default;
$color-primary:#08a7ec!default;
$color-info:#1fb5ac!default;
$color-ok:#09BB07!default;
$color-warning:#ff9402!default;
$color-danger:#fb6361!default;
$color-btn-default:#fff!default;
$color-btn-hover:#e8e8e8!default;
$color-border:#e0e0e0!default;
//Table area color
$color-table-thead:#e8e8e8!default;
$color-table-thead-th:#666!default;
$color-table-tr-hover:#F5F6FA!default;
$color-table-border:$color-border!default;
//Anchor area color
$color-anchor:#098fc9!default;
$color-anchor-visited:#609!default;
$color-anchor-hover:#08a7ec!default;
$color-anchor-active:$color-danger!default;
//Text with background area color
$color-bg-default:#eee!default;
$color-bg-default-text:#555!default;
$color-bg-primary:#fff2ec!default;
$color-bg-primary-text:#a94442!default;
$color-bg-ok:#dff0d8!default;
$color-bg-ok-text:#3c763d!default;
$color-bg-info:#effffe!default;
$color-bg-info-text:#1fb5ac!default;
$color-bg-warning:#fcf8e3!default;
$color-bg-warning-text:#8a6d3b!default;
$color-bg-danger:#fff6f3!default;
$color-bg-danger-text:#fb6362!default;
$colorNavOn:#E8003C;
$color-primary:#2897DF;
$color-success:#63B630;
$color-warn:#F8A932;
$color-info:#29D0E0;
$color-bg-content:#F5F4F2;
//Text size
$size-font-small:12px;
$size-font-big:16px;
$size-font-bigger:20px;
$size-font-biggest:24px;
//Height
$height-input:32px;
$height-btn:28px;
$height-table-thead:34px;
$height-table-tbody:44px;
//progress
$progress-bg:#e8e8e8;
//Mobile End
//Mobile
$font-family-mobile:14px "Helvetica Neue",
"Heiti SC",
Helvetica,
Arial,
sans-serif!default;
$line-height-mobile:1.6!default;
$size-font-btn-mini-mobile:14px!default;
$size-font-btn-block-mobile:18px!default;
$size-font-small-mobile:13px!default;
$size-font-big-mobile:16px!default;
$size-font-bigger-mobile:18px!default;
$size-font-biggest-mobile:34px!default;
$size-font-title-mobile:17px!default;
$color-muted-mobile:#999!default;
//z-index
$z-index-header:100!default;
$z-index-share:255!default;
$z-index-popup:1000!default;
