@charset "utf-8";
@import 'baseSCSS';
$font-size: 14px;
$line-height: (20/12);
$btn-line-height:26px;
$btn-big-font-size:16px;
$btn-big-line-height:34px;
$btn-bigger-font-size:18px;
$btn-bigger-line-height:38px;
$color-table-anchor:#0990ca;
::selection {
  // background:lightcoral;
  // color: #fff;
}

$color-body-bg:#fff;
body {
  @include pcBody;
  background: $color-body-bg;
}

input[type=search],
input[type=text],
input[type=tel],
input[type=submit],
input[type=password],
input[type=number],
input[type=date],
input[type=color],
input[type=time],
input[type=url],
input:not([type]),
button,
textarea,
select,
.com-ipt {
  line-height: 22px;
  font-size: $font-size;
}

::-webkit-input-placeholder {
  font-family: $font-family;
}

.btn {
  font-size: $font-size;
  line-height: $btn-line-height;
  padding-top: 0;
  padding-bottom: 0;
  &.big {
    padding: 0 1em;
    min-width: 5em;
    font-size: $btn-big-font-size;
    line-height: $btn-big-line-height;
    +.btn.big {
      margin-left: 8px;
    }
  }
  &.bigger {
    padding: 0 1.75em;
    font-size: $btn-bigger-font-size;
    line-height: $btn-bigger-line-height;
  }
}

select {
  height: 32px;
  padding: 4px;
}

a {
  color: $color-anchor;
  text-decoration: none;
  &:visited {
    color: $color-anchor;
  }
  &:hover {
    color: $color-anchor-hover;
    text-decoration: underline;
  }
  &:active {
    color: $color-anchor-hover;
  }
}

[draggable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-title {
  font-size: 28px;
  font-weight: 400;
  line-height: inherit;
}

.content-expanded {
  padding: 20px 30px 0;
  margin-bottom: 30px;
}

.content-large {
  padding-left: 30px;
  padding-right: 30px;
}

.content-small {
  padding-left: 130px;
  padding-right: 130px;
}

.table {
  thead {
    tr {
      td,
      th {
        padding: 0 5px;
        border: 0;
        border-bottom: 1px solid $color-border;
        line-height: 34px;
        white-space: nowrap;
        vertical-align: middle;
      }
      th {
        border: 0;
        font-weight: 400;
        background: $color-table-thead;
        color: $color-table-thead-th;
      }
    }
  }
  tbody {
    tr {
      th,
      td {
        padding: 6px 4px;
        border: 0;
        border-bottom: 1px solid $color-border;
        line-height: 32px;
        p {
          line-height: 24px;
        }
      }
    }
  }
  .action-field {
    white-space: nowrap;
    .item {
      margin: 4px;
      padding: 2px 4px;
      text-decoration: none;
      -webkit-border-radius: $border-radius;
      -moz-border-radius: $border-radius;
      border-radius: $border-radius;
      &:hover {
        background: $color-table-anchor;
        color: #fff;
      }
    }
  }
}

.table-radian {
  border-collapse: separate;
  border-spacing: 0;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}

.table-bordered {
  border: 1px solid $color-table-border;
  >thead,
  >tbody {
    >tr {
      td {
        border: 0;
        border-top: 1px solid $color-table-border;
      }
      th {
        border: 0;
      }
    }
  }
  th,
  td {
    border-top: 1px solid $color-table-border;
  }
}

.table-bordered-divide {
  tbody {
    tr {
      th,
      td {
        border-left: 1px solid $color-table-border;
        &:first-child {
          border-left: 0;
        }
      }
    }
  }
}

.table-hover {
  tr {
    &:hover {
      background: $color-table-tr-hover;
    }
  }
}

.table-list {
  >.table {
    margin-bottom: 16px;
  }
}

.search-field {
  position: relative;
  display: inline-block;
  z-index: 2;
  .ipt-search {
    min-width: 260px;
    padding-right: 36px;
    &:focus {
      &+.btn-search {
        border-left-color: $color-primary;
      }
    }
    &.ipt-search-btn-text {
      padding-right: 4.5em;
      &.col2 {
        padding-right: 4.5em;
      }
      &.col3 {
        min-width: 270px;
        padding-right: 5.5em;
      }
    }
  }
  .btn-search {
    width: 32px;
    text-align: center;
    color: $color-primary;
    &:hover {
      background: $color-table-tr-hover;
      color: darken($color-primary, 4%);
    }
    &.icon-search {
      position: absolute;
      right: 1px;
      top: 1px;
      bottom: 1px;
      font-size: 16px;
      padding-top: 3px;
      border: 0;
      border-left: 1px solid $color-border;
      background: #fff;
      white-space: nowrap;
      -webkit-border-radius: 0 $border-radius $border-radius 0;
      -moz-border-radius: 0 $border-radius $border-radius 0;
      border-radius: 0 $border-radius $border-radius 0;
      &:hover {
        background: $color-table-tr-hover;
      }
      &:focus {
        border-color: $color-border;
      }
    }
    .fa-search {
      font-weight: 700;
    }
    &.btn-search-text {
      width: auto;
      padding: 0 1em!important;
      color: $color;
      font-size: $font-size;
    }
  }
}

.date-field {
  position: relative;
  margin-right: 4px;
  >input {
    width: 120px;
    padding-right: 26px;
    margin-right: -28px;
  }
  .icon {
    position: relative;
    top: 1px;
    width: 20px;
    font-size: 17px;
    color: #bbb;
    pointer-events: none;
  }
}

.side {
  float: left;
  width: 200px;
  margin-right: -1px;
  border-right: 1px solid $color-border;
}

.wrapper {
  position: relative;
  &.limited {
    max-width: 1250px;
    margin: 0 auto;
  }
  .main {
    margin: 25px 0;
    padding: 10px;
  }
}

.main {
  >.body {
    position: relative;
  }
  >.side {
    &+.body {
      border-left: 1px solid $color-border;
      //@include anim(fadeInRight .2s);
    }
  }
}

.img-list.upload {
  line-height: 1;
  .img-wrapper {
    display: inline-block;
    position: relative;
    margin: 10px 5px 0 0;
    overflow: hidden;
    .action {
      position: absolute;
      right: 0;
      padding: 0 5px;
      color: #fff;
      line-height: 20px;
      cursor: pointer;
      z-index: 5;
      top: -30px;
      @include trans(.2s);
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -30px;
      height: 20px;
      background: rgba(0, 0, 0, .5);
      @include trans(.2s);
    }
    &:hover {
      .action,
      &:after {
        top: 0;
      }
    }
    img {
      width: 80px;
      height: 80px;
    }
  }
}

input.ipt-s,
input.ipt-small {
  width: 100px;
}

.upload-wrapper {
  position: relative;
  overflow: hidden;
  input[type=file] {
    display: none;
    position: absolute;
    left: -8px;
    top: 4px;
    right: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
  }
}

@import "switcher";
.attach {
  position: fixed;
  width: 30px;
  bottom: 118px;
  right: 0;
  text-align: center;
  >.item {
    a {
      display: block;
      position: relative;
      line-height: 30px;
      text-decoration: none;
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        @include trf-translate(-50%, -50%);
        width: 0;
        height: 0;
      }
    }
  }
}

.popup-html {
  display: none!important;
  position: absolute !important;
  height: 0 !important;
  width: 0 !important;
  visibility: hidden !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0)!important;
}

.popup-spread {
  padding: 10px 20px;
  ol {
    padding: 8px 24px;
    line-height: 2;
    list-style: decimal;
  }
  .qrcode {
    width: 130px;
    height: 130px;
    margin: 1em;
    margin-right: 0;
  }
  .copy {
    position: relative;
    padding-right: 86px;
    .btn-copy {
      position: absolute;
      right: -8px;
      top: 2px;
    }
  }
}

@import '_compat';
