<div class="wrapper footer">
    <div class="inner clearfix">
        <div class="item">
            <div class="inner">
                <h3 class="title">
                    互动沟通
                </h3>
                <div class="content">
                    <p>电话&#12288;（0371）9980 9988</p>
                    电子邮件&#12288; satanzlb@sohu.com
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner">
                <h3 class="title">
                    互动沟通
                </h3>
                <div class="content">
                    <p>电话&#12288;（0371）9980 9988</p>
                    电子邮件&#12288; satanzlb@sohu.com
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner">
                <h3 class="title">
                    互动沟通
                </h3>
                <div class="content">
                    <p>电话&#12288;（0371）9980 9988</p>
                    电子邮件&#12288; satanzlb@sohu.com
                </div>
            </div>
        </div>
        <div class="item social">
            <div class="inner">
                <div class="qr weixin" title="扫描微信操作">
                    <img src="~/Common/Images/gldqrcode.jpg" alt="" />
                    <p><i class="bg-group weixin"></i></p>
                </div>
                <div class="qr weibo" title="微博">
                    <img src="~/Common/Images/gldqrcode.jpg" alt="" />
                    <p><i class="bg-group"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>