@using Abp.Application.Navigation
@using Abp.Collections.Extensions
@using Abp.Extensions
@using TomTeam.Project.Web.Views
@model TomTeam.Project.Web.Models.Layout.HeaderViewModel

<div id="header">
    <div class="top divider wrapper">
        <div class="inner">
            <div class="login fr">
                <a href="javascript:;" class="signin  bg-group" title="点击登录">登录</a>
                <a href="javascript:;" class="reg  bg-group" title="点击注册">注册</a>
            </div>
            <a href="/" class="logo">
                <img src="~/Common/Images/logo.png" alt="logo" />
            </a>
        </div>
    </div>
    <div class="banner wrapper">
        <div class="item"></div>
    </div>
    <div class="nav divider text-center ">
        <div class="wrapper">
            <div class="inner col5 clearfix">
                @foreach (var menuItem in @Model.Menu.Items)
                {
                    <a href="javascript:;" class="item">@menuItem.DisplayName</a>
                }
            </div>
        </div>
    </div>
</div>
