@{
    ViewBag.CurrentPageName = "干货和新闻";
    var list = ViewBag.NewsList as TomTeam.Project.Gld.Dto.GetNewsListOutput;
}
@model TomTeam.Project.Gld.Dto.GetNewsListOutput

<div class="main">
    <div class="body home detail event">
        <div class="wrapper">
            <div class="inner">

                <div class="news">
                    @if (Model != null)
                    {
                        <h1 class="title">
                            @Model.Title
                        </h1>
                        <p class="date">@string.Format("{0:yyyy-MM-dd HH:mm}", Model.CreationTime)</p>
                        <div class="content">
                            @Html.Raw(Model.Content)
                        </div>
                    }
                    else
                    {
                        <h1 class="title">
                            访问的新闻不存在
                        </h1>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
